#counter-container {
    height: calc(100vh - 160px);
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
  
  #counter-container h1 {
    margin: 0;
  }
  
  #counter {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
  }
  
  #counter span {
    font-size: 32px;
  }
  
  #button-container {
    display: flex;
    gap: 20px;
  }
  
  #button-container button {
    padding: 10px 20px;
    background-color: #bdd1fa;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }