#content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
    height: calc(100vh - 160px);
    padding: 20px;
    box-sizing: border-box; 
  }
  
  #left-side {
    width: 50%;
    padding: 20px;
  }
  
  #left-side h2 {
    font-size: 1.8rem;
    color: #333;
  }
  
  #left-side p {
    font-size: 1rem;
    color: #666;
    line-height: 1.6;
    margin: 10px 0;
  }
  
  #left-side img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  #right-side {
    width: 45%;
    padding: 20px;
  }
  
  #right-side h2 {
    font-size: 1.6rem;
    color: #fff;
    margin-top: 0;
  }
  
  #right-side p {
    font-size: 1rem;
    color: #100f0f;
    margin: 5px 0;
    line-height: 1.6;
  }
  
  #right-side div {
    background-color: #65809b;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 15px;
  }
  
  #right-side div:last-child {
    margin-bottom: 0;
  }